{% extends 'layouts/main.twig' %}

{% block content %}
    <form method="post">
        <label for="adr">Укажите адрес доставки</label>
        <input type="text" name="adress" class="form-control" id="adr" placeholder="Адрес"><br>
        <input type="submit">
    </form>
{% endblock %}