{% extends 'layouts/main.twig' %}

{% block content %}
    
        <h1>Личный кабинет</h1>
        <h2>{{user.name|e}}, добро пожаловать!</h2>
        <a href="/user/ordersItems"><button type="button" class="btn btn-secondary">Мои заказы</button></a>
        <a href="/user/exit"><button type="button" class="btn btn-secondary">Выйти</button></a>
    
{% endblock %}